---
---

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
  import Cookies from "js-cookie";

  let scrollToBottom = () => {
    // Called on others functions to scroll to the bottom of the list
    let el = document.querySelector(".chat-display") as HTMLDivElement;
    el.scrollTop = el.scrollHeight;
  };
  async function getMessages() {
    const response = await fetch(
      "https://irclike-server.onrender.com/api/messages"
    );
    response.json().then((messages) => {
      for (let i = 0; i < messages.length; i++) {
        // Loop over messages to append content on list

        const ul = document.getElementById("messages-list");
        const li = document.createElement("li");
        li.classList.add("message");
        if (Cookies.get("IRCToken") && Cookies.get("IRCToken2")) {
          if (Cookies.get("IRCToken2") === messages[i].author) {
            li.classList.add("userMessage");
          }
        }
        const date = new Date(messages[i].createdAt).toLocaleDateString();
        const time = new Date(messages[i].createdAt).toLocaleTimeString();

        li.innerHTML = `<span>${messages[i].id}</span><span class='message__From'> ${messages[i].author} </span><span class="message__Date">à ${time} le ${date}</span> </br>&nbsp <p class="message__Content">${messages[i].content}</p>`;
        ul?.append(li);
      }
      scrollToBottom();
    });
  }
  await getMessages();
</script>

<div class="chat-display">
  <ul id="messages-list"></ul>
</div>

<style lang="scss">
  .chat-display {
    display: grid;
    align-items: center;
    justify-content: center;
    background: #222831;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;

    @media screen and (max-width: 300px) {
      justify-content: start;
    }

    ul {
      list-style-type: none;
      display: grid;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 16px;
      width: 90vw;

      @media screen and (max-width: 300px) {
        width: 100vw;
      }
    }
  }
</style>
